body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

.video {
  background: white;
  margin: 15px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
